@tailwind base;
@tailwind components;
@tailwind utilities;


.section-comp {
    border-radius: 2rem;
}

.section-comp:hover {
    background-color: #e4e4e4;
    transition-duration: 350ms;
}

.section-comp:hover h2 {
    color: #2a9df4
}

.not-hovered {
    opacity: 0.5;
    transition-duration: 350ms;
}

.section-project h2{
    font-size: 1.75rem;
}

.section-comp img {
    border-radius: 2rem;
}

.section-comp p {
    font-size: 0.85rem;
    line-height: 1.5rem;
    opacity: 0.75;
}

.section-buttons {
    padding-top: 1rem;
}

.section-buttons button {
    color: white;
    background-color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.5rem;
    font-size: 12px;
    transition-duration: 350ms;
    transition-property: color;
}

.section-buttons button:hover {
    color: #6abeff;
}