@tailwind base;
@tailwind components;
@tailwind utilities;


.sectionComp {
    border-radius: 2rem;
}

.sectionCompHov:hover {
    background-color: #dce4ff;
    transition-duration: 350ms;
}

.sectionCompHov:hover h2 {
    color: #434eeb
}

.notHovered {
    opacity: 0.5;
    transition-duration: 350ms;
}

.sectionProject h2{
    font-size: 1.75rem;
}

.sectionComp img {
    border-radius: 2rem;
}

.sectionComp p {
    font-size: 1rem;
    line-height: 1.5rem;
    opacity: 0.75;
}

.sectionButtons {
    padding-top: 1rem;
    display: flexbox;
    flex-direction: row;
}

.sectionButtons button {
    color: white;
    background-color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.5rem;
    font-size: 12px;
    transition-duration: 350ms;
    transition-property: background-color;
}

.sectionButtons p {
    font-size: 1rem;
    font-weight: 800;
    color: #434eeb;
}

.otherSkills {
    margin-left: 0.5rem;
}
.sectionButtons button:hover {
    background-color: #434eeb;
}